---
layout: default
---

<div id="product-config" style="display:none"
  data-us-diameter="{{ site.data.collar_config.standard_us_sleeve_diameter_mm }}"
  data-eu-diameter="{{ site.data.collar_config.standard_eu_sleeve_diameter_mm }}"
  data-outer-diameter="{{ site.data.collar_config.outer_diameter_mm }}"
  data-height-min="{{ site.data.collar_config.height_min_mm }}"
  data-height-max="{{ site.data.collar_config.height_max_mm }}"
  data-height-default="{{ site.data.collar_config.default_height_mm }}"
  data-worker-url="{{ site.worker_url }}"
></div>

{{ content }}

<script>
  if (typeof gtag === 'function') {
    gtag('event', 'view_item', {
      event_category: 'ecommerce',
      event_label: document.title
    });
  }
</script>

<div class="snackbar" id="snackbar"></div>
